/* @font-face {
  font-family: digital;
  src: url(digital-7.ttf);
} */

:root {
  --light-txt-color: rgb(229, 229, 229);
  --dark-txt-color: rgb(24, 23, 23);
  --btn-color: rgb(53, 53, 53);
  --calc-body-color: rgb(33, 33, 33);
  --bg-color: rgb(255, 255, 255);
  --display-color: rgb(188, 216, 171);
  --operator-color: rgb(154, 225, 255);
  --del-color: rgb(255, 184, 184);

  --btn-size: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
}

#calculator-header {
  text-align: center;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--dark-txt-color);
  width: 100%;
}

main#calculator-container {
  flex-grow: 1;
  width: 100%;
}

section#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 600px;
  border-radius: 20px;
}

#calculator-output-container {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  border: 10px solid var(--calc-body-color);
  gap: 10px;
  background-color: var(--display-color);
  align-items: end;
  padding: 10px;
}

#calculator-output-container > * {
  height: 50px;
  font-size: 2.5em;
  margin-right: 5px;
  color: var(--dark-txt-color);
  font-weight: bold;
}

#calculator-btn-container {
  gap: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: var(--calc-body-color);
  padding: 20px;
  border-radius: 0px 0px 16px 16px;
}

.calculator-btn {
  font-size: 2em;
  font-weight: bold;
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 20px;
  background-color: var(--btn-color);
  color: var(--light-txt-color);
  outline: none;
  text-decoration: none;
  border: none;
  transition: ease 0.2s;
}

.lrg-btn {
  width: calc(100% / 2.2);
}

.lrg-txt {
  font-size: 3em;
}

.operator {
  color: var(--operator-color);
}

.delete {
  color: var(--del-color);
}

.digit:hover {
  background-color: var(--light-txt-color);
  color: var(--btn-color);
}
.operator:hover {
  background-color: var(--operator-color);
  color: var(--calc-body-color);
}

.delete:hover {
  background-color: var(--del-color);
  color: var(--calc-body-color);
}
